
/exe/build
/acc_logger/data
/syndata/sync_data/rd/my pc/sync_data
/syndata/sync_data/rd/grey/sync_data
/syndata/sync_data/zt/dell/sync_data
/syndata/sync_data/zt/fly/sync_data
/syndata/sync_data/zt/ipc/sync_data
/syndata/sync_data/zt/my pc/sync_data
/syndata/sync_data/zt/ipc/bk
/syndata/sync_data/zt/old pc/sync_data
/syndata/sync_data/zt/ex pc/sync_data
/acc_logger2/data
/acc_logger3/data
